@import "tailwindcss";

.logo {
  color: rgb(15, 23, 42);
  font-weight: 700;
  line-height: 28px;
  font-size: 18px;
}

.logoIcon {
  color: #000080;
}

nav a,
nav a:active,
nav a.active {
  text-decoration: none;
  border: none;
  outline: none;
}

.active {
  border-bottom: 2px solid #000080; 
  color: #000080;
  font-weight: 600;
}
ul li {
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', system-ui, sans-serif;
}

ul li:hover {
  color: #000080;
  border-bottom: 2px solid #000080;
  transition: 0.3s;
}

.btnNav {
    
}

.btnNav:hover {
    background-color: #000080;
    color: white;
}